<app-top-bar></app-top-bar>
<div id="container">
    <mat-tab-group>
        <mat-tab label="Current Weather">
            <app-current-weather></app-current-weather>
        </mat-tab>
        <mat-tab label="Forecast">
            <app-forecast-data></app-forecast-data>
        </mat-tab>
    </mat-tab-group>
</div>