<mat-card class="card">
    <mat-card-header>
        <mat-card-title>European cities</mat-card-title>
        <mat-card-subtitle>Weather info</mat-card-subtitle>
    </mat-card-header>
    <mat-card-actions>
        <button mat-button *ngFor="let city of cities" (click)="search(city)" [ngClass]="{'active' : loc === city}">{{city}}</button>
    </mat-card-actions>
</mat-card>