<h1 class="center" *ngIf="results()">Current weather for {{currentWeather.name}}</h1>
<table *ngIf="results()">
  <tbody>
    <tr>
      <td>
        <h3>Current Temperature:</h3>
      </td>
      <td>
        <h3>{{currentWeather.main?.temp - 273.15 | number:"1.0-0"}}<sup>o</sup>C</h3>
      </td>
    </tr>
    <tr>
      <td>
        <h3>Maximum Temperature:</h3>
      </td>
      <td>
        <h3>{{currentWeather.main?.temp - 273.15 | number:"1.0-0"}}<sup>o</sup>C</h3>
      </td>
    </tr>
    <tr>
      <td>
        <h3>Minimum Temperature:</h3>
      </td>
      <td>
        <h3>{{currentWeather.main?.temp_min - 273.15 | number:"1.0-0"}}<sup>o</sup>C</h3>
      </td>
    </tr>
    <tr>
      <td>
        <h3>Sunrise</h3>
      </td>
      <td>
        <h3>{{currentWeather.sys?.sunrise*1000 | date:"long"}}</h3>
      </td>
    </tr>
    <tr>
      <td>
        <h3>Sunset</h3>
      </td>
      <td>
        <h3>{{currentWeather.sys?.sunset*1000 | date:"long"}}</h3>
      </td>
    </tr>
  </tbody>
</table>
<div *ngIf="!results()">
  <h1 class="center">{{msg || "Failed to get weather."}}</h1>
</div>